//Rename this file as myconfig.h

//WIFI

#define SECRET_SSID "WiFi SSID"		// replace MySSID with your WiFi network name
#define SECRET_PASS "WiFi password"	// replace MyPassword with your WiFi password

//THINGSPEAK

#define SECRET_CH_ID XXXXXXX			// channel number of ThingSpeak
#define SECRET_WRITE_APIKEY "API key"   // channel write API Key of ThingSpeak

//API OPENWEATHERMAP

String openWeatherMapApiKey = "API key"; //API OpenWeatherMap

//API TELEGRAM

String botToken = "Telegram bot token";
String chatID = "your Telegram chat ID";

#define realAltitude XXX // altitud del sensor en metros (mirar en Google Earth la ubicación)

bool LCDlight = true; //true: pantalla encendida al inicio   false: pantalla apagada al inicio
bool uploadTS = true; //true: sube a ThingSpeak desde el inicio  false: lo contrario
bool autoconnect = true; //true: conectar a la red WiFi automáticamente, incluso perdiendo la conexión

unsigned long intSensors = 1000UL; //intervalo entre lecturas de los sensores (1 segundo)
unsigned long compTH = 180000UL; //intervalo entre comparaciones de temperatura y humedad (3 minutos)
unsigned long compP = 300000UL; //intervalo entre comparaciones de presion (5 minutos)
unsigned long APIinterval = 60000UL; //intervalo lectura de API (1 minuto)
unsigned long intScreen = 5000UL; //frecuencia de actualización de pantalla (5 segundos)
unsigned long intervalTS = 20000UL; //frecuencia de subida a ThingSpeak (20 segundos)
unsigned int upIndex = 20000; //milisegundos de actualización de la página web (20 segundos)